<div fxFill fxLayout="column">
  <mat-toolbar fxFlex="12" color="primary" fxLayout="row" fxLayoutAlign=" center">
    <button mat-raised-button color="accent" fxFlex="40" [routerLink]="['/']" class="hover p-0-5 mr-1 lg-text" #tooltip="matTooltip" matTooltip="Go to home page." matTooltipHideDelay="10">
      Anime List Search
    </button>
    <div fxFlex fxLayoutAlign="end">
      <button type="button" [routerLink]="['/search']" class="hover" color="accent" mat-raised-button><mat-icon>search</mat-icon></button>
    </div>
  </mat-toolbar>
  <div fxFlex="90">
    <router-outlet></router-outlet>
  </div>
</div>